.btn {
  background-color: transparent;
  border: 1px solid var(--light-line);
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
  color: lightgray;
  cursor: pointer;
}

.btn:hover {
  background-color: #28313e;
}

.btn:focus {
  outline: none;
  background-color: #28313e;
}

.btn:disabled {
  background-color: #3c4552;
  cursor: auto;
}
