.buttonWrapper {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.btn {
  background-color: transparent;
  border: 1px solid var(--light-line);
  border-radius: 10px;
  padding-top: 4px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

.btn:hover {
  background-color: #28313e;
}

.btn:focus {
  outline: none;
  background-color: #28313e;
}

.btn:disabled {
  background-color: #3c4552;
  cursor: auto;
}
