.card {
  border: 1px solid lightgray;
  padding: 10px;
  margin-bottom: 40px;
  width: 290px;
}
.currencyHeader {
  text-align: center;
}

.label {
  margin-right: 10px;
}

input {
  background-color: lightgray;
  border: none;
  padding: 5px;
  font-size: 14px;
  margin-right: 10px;
  width: 130px;
}
